/* page reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* placing the calculator in the middle */
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* screen style (input pf the form) */
#screen {
  width: 100%;
  font-size: 7rem;
  padding: 0.5rem;
  background: rgb(41, 41, 56);
  color: #ffff;
  border: none;
}
/* the main section */
.calculator {
  flex: 0 0 95%;
}
/* the child of the main section contains the buttons  */
.buttons {
  display: flex;
  flex-wrap: wrap;
  /* this property to allow the element to wrap when there is noenough space */
  transition: all 0.5s linear;
}

/* the buttons of the calculator(grand children of the mainsection) */
button {
  flex: 0 0 25%;
  padding: 1.25rem 0;
  border: 1px solid black;
  transition: all 1s ease;
  cursor: pointer;
  color: white;
  font-size: 30px;
}
button:hover {
  background: cornflowerblue;
}

/* sign buttons */
.sign-btn {
  background: rgb(192, 149, 70);
}
/* number buttons */
.faj {
  background: rgb(224, 224, 224);
  color: black;
}
.btn-equal {
  background: rgb(22, 25, 66);
}
.btn-clear {
  background: rgb(22, 25, 66);
}
